.accordion-widget-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.accordion-contacts-container {
  border: 1px solid rgb(211, 211, 211);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  margin-top: 16px;
  justify-content: space-between;
  transition: background-color 0.5s linear, color 0.5s linear, height 2s linear;
}

.first-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#second-row {
  display: none;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 18px;
  padding-top: 16px;
  align-items: center;
  justify-content: space-between;
}

#second-row.active { display: flex; }

p {
  margin: 0;
  line-height: 1;
  margin-block-end: 0 !important;
}

.accordion-contacts-container:has(#second-row.active) {	box-shadow: 0px 0px 8px lightgray; }

.company-names-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: space-between;
}

.company-adress svg, .company-schedule svg {
  width: 18px;
  height: 18px;
  align-items: center;
  justify-items: center;
  margin-right: 8px;
}

.company-locations-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: space-between;
}

.info-buttons-container {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: end;
  column-gap: 16px;
  align-items: center;
}

.more-info-btn {
  width: 50px;
  height: 50px;
}

.staff-card-container {
  width: 32%;
  display: flex;
  flex-direction: row;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgb(211, 211, 211);
  column-gap: 16px;
  box-shadow: 0px 0px 8px lightgray;
}

.staff-img-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.staff-img {
  width: 64px !important;
  height: 64px !important;
  border-radius: 50% !important;
  border: none;
}

.staff-info-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 80%;
}

.staff-button { width: 100%; }

.staff-name-container { width: 100%; }

.staff-number-container {
  width: 100%;
  text-align: center;
}

.staff-email-container {
  width: 100%;
  text-align: center;
}