.accordion-contacts-container, .company-info-container, .staff-img-container, .staff-info-container {
  display: flex; flex-direction: column;
}

.first-row, #second-row.active, .company-description, .staff-card-container, .expand-accordion-btn, 
.company-social-btn, .info-buttons-container, .staff-button {
  display: flex; flex-direction: row;
}

.accordion-contacts-container {
  border: 1px solid rgb(211, 211, 211);
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
  transition: background-color 0.5s linear, color 0.5s linear, height 2s linear;
}

.first-row, .accordion-contacts-container, .company-info-container { justify-content: space-between; }

.first-row:hover { cursor: pointer; }

#second-row {
  display: none;
  flex-wrap: wrap;
  row-gap: 18px;
  column-gap: 18px;
  padding-top: 32px;
  align-items: center;
}

p {
  margin: 0;
  line-height: 1;
  margin-block-end: 0 !important;
}

.accordion-contacts-container:has(#second-row.active) {	box-shadow: 0px 0px 8px lightgray; }

.company-info-container { width: 35%; row-gap: 8px; }

.company-description { column-gap: 8px; font-size: 18px; }

.info-buttons-container {
  width: 20%;
  justify-content: end;
  column-gap: 16px;
  align-items: center;
}

.company-social-btn {
  align-items: center;
  column-gap: 8px;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  padding: 4px 16px;
  width: 150px;
  justify-content: center;
}

.expand-accordion-btn {
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255)
}

.expand-accordion-btn:hover { background-color: rgb(240, 240, 240); color: rgb(0, 0, 0); }

.staff-card-container {
  width: 32%;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgb(211, 211, 211);
  column-gap: 16px;
  box-shadow: 0px 0px 10px #cdcdcd;
}

.staff-img-container { width: 20%; justify-content: start; }

.staff-position-container { font-weight: lighter; }

.staff-img {
  width: 64px !important;
  height: 64px !important;
  border-radius: 50% !important;
  border: none;
}

.staff-info-container { row-gap: 16px; width: 100%; }

.staff-button { 
  width: 100%; 
  border-radius: 8px; 
  text-align: center;
  padding: 4px 0px;
  align-items: center;
  column-gap: 8px;
  justify-content: center;
}

.staff-button svg { width: 13px; height: 13px; fill: black; }

.company-description svg { width: 18px; height: 18px; }

.company-social-btn svg { width: 16px; height: 16px; fill: white; }

.staff-languages {
  background-color: azure;
  border-radius: 50%;
  width: 30px;
  height: 20px;
  text-align: center;
}

.staff-languages-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: start;
  justify-content: end;
}

.staff-text-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.staff-description-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}