.accordion-contacts-container, .company-info-container, .staff-img-container, 
.staff-description-container, .staff-info-container { 
  display: flex; flex-direction: column; 
}

.first-row, #second-row.active, .company-description, .staff-card-container, .expand-icon, 
.company-social-btn, .info-buttons-container, .staff-button, .staff-text-container, .staff-languages-container {
  display: flex; flex-direction: row;
}

.first-row, .accordion-contacts-container, .company-info-container { justify-content: space-between; }

.first-row:hover { cursor: pointer; }

#second-row {
  display: none;
  flex-wrap: wrap;
  row-gap: 18px;
  column-gap: 18px;
  padding-top: 32px;
  align-items: center;
}

p {
  margin: 0;
  line-height: 1;
  margin-block-end: 0 !important;
}

.accordion-contacts-container:has(#second-row.active) {	box-shadow: 0px 0px 8px lightgray; }

.company-description { column-gap: 8px; font-size: 18px; }

.expand-icon {
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 16px;
  color: #26292D;
  background-color: rgb(250, 250, 250);
  transition: 0.5s ease;
  transform: rotate(270deg);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid rgb(211, 211, 211);
}

.expand-icon p { padding-bottom: 4px; }

.accordion-contacts-container:has(#second-row.active) .expand-icon { transform: rotate(90deg); }

.expand-icon:hover {
  border: 1px solid rgb(146, 146, 146);
  background-color: rgb(235, 235, 235);
  color: black;
}

.staff-img-container { width: 20%; justify-content: start; }

.staff-position-container { font-weight: lighter; }

.staff-img {
  width: 64px !important;
  height: 64px !important;
  border-radius: 50% !important;
  border: none;
}

.staff-info-container { row-gap: 16px; width: 100%; }

.staff-button svg { width: 13px; height: 13px; fill: black; }

.company-description svg { width: 18px; height: 18px; }

.company-social-btn svg { width: 16px; height: 16px; fill: white; }

.staff-text-container { width: 100%; }

.staff-description-container { width: 50%; row-gap: 8px; }

.company-info-container { width: 35%; row-gap: 8px; }

.info-buttons-container {
  width: 20%;
  justify-content: end;
  column-gap: 16px;
  align-items: center;
}

.company-social-btn {
  align-items: center;
  column-gap: 8px;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  padding: 4px 16px;
  width: 150px;
  justify-content: center;
  border: none;
  opacity: 0.9;
  transition: 0.1s;
}

.company-social-btn:hover { opacity: 1; }

.staff-card-container {
  width: 32%;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgb(211, 211, 211);
  column-gap: 16px;
  box-shadow: 0px 0px 10px #cdcdcd;
}

.accordion-contacts-container {
  border: 1px solid rgb(211, 211, 211);
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
  transition: 0.5s linear, color 0.5s linear, 0.5s ease;
}

.staff-button { 
  width: 100%; 
  border-radius: 8px; 
  text-align: center;
  padding: 4px 0px;
  align-items: center;
  column-gap: 8px;
  justify-content: center;
  border: 1px solid rgb(211, 211, 211);
  opacity: 0.9;
  transition: 0.1s;
}

.staff-button:hover { border: 1px solid rgb(180, 180, 180); opacity: 1; }

.staff-languages {
  background-color: azure;
  border-radius: 50%;
  width: 30px;
  height: 20px;
  text-align: center;
}

.staff-languages-container {
  width: 50%;
  column-gap: 8px;
  align-items: start;
  justify-content: end;
}

.first-row { row-gap: 16px; }

@media (max-width: 768px) {
  .company-info-container { width: 100%;}

  .info-buttons-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .info-buttons-container a { width: 100%; }

  .company-social-btn { width: 100%; height: 45px; }

  .staff-card-container { width: 100%; }

  .staff-button { height: 40px; }

  .staff-text-container { flex-wrap: wrap; }

  .staff-description-container { width: 100%; }

  .staff-languages-container {
    width: 100%;
    align-items: start;
    justify-content: start;
  }
}